{% extends 'base.html.twig' %}

{% block title %}Accueil - The Disctrict
{% endblock %}


{% block body %}

	<main class="container text-white">
		<div class="text-center">
			<img class="img-fluid" src="{{ asset('assets/uploads/bcg1.png')}}" alt="mainImage">
			{{ form(form) }}
		</div>
			<section class="row">
				<div class="col-12">
					<h1 class="mt-3 text-white">Site theDistrict</h1>
					<p>Bienvenue dans notre restaurant</p>
				</div>
				{% for category in categorie %}
					<div class="col-lg-4 col-sm-7 mb-3">
						<div class="card h-100 bg-success border-light">
							<img class="card-img-top" src="{{ asset('assets/uploads/categories/') ~ category.image }}" alt="Card image cap">
							<div class="card-body">
								<h3 class="card-title">{{ category.libelle }}</h3>
								<p class="card-text">Disponible :
									{{ category.active }}</p>
								<a href="{{ path('categorie_list', {id: category.id})}}" class="btn btn-secondary">Voir la catégorie</a>
							</div>
						</div>
					</div>
				{% endfor %}

				{% for plats in plat %}
					<div class="col-lg-4 mb-3">
						<div class="card h-100 bg-success border-light">
							<img class="card-img-top" src="{{ asset('assets/uploads/plats/') ~ plats.image }}" alt="Card image cap">
							<div class="card-body">
								<h3 class="card-title">{{ plats.libelle }}</h3>
								<p class="card-text">{{ plats.description }}</p>
								<a href="{{ path('plat_details', {id: plats.id})}}" class="btn btn-secondary">Voir le plat en détail</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</section>
		</main>


	{% endblock %}
