{% extends 'base.html.twig' %}

{% block title %}Transporter index{% endblock %}

{% block body %}
    <h1>Transporter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transporter in transporters %}
            <tr>
                <td>{{ transporter.id }}</td>
                <td>{{ transporter.title }}</td>
                <td>{{ transporter.content }}</td>
                <td>{{ transporter.price }}</td>
                <td>
                    <a href="{{ path('admin_trans_show', {'id': transporter.id}) }}">show</a>
                    <a href="{{ path('admin_trans_edit', {'id': transporter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_trans_new') }}">Create new</a>
{% endblock %}
