{% extends 'base.html.twig' %}

{% block title %}Création de la commande
{% endblock %}

{% block body %}
	<div class="d-none d-lg-block top-0 start-0 h-100" style="width: 52.5%;"></div>
	<div class="container position-relative zindex-2 pt-5 pb-lg-5 pb-md-4 pb-2">
		<div class="row">
			<div class="col-lg-8">
				<nav class="breadcrumb">
					<ol class="mt-5 pt-lg-3 pb-md-1 pb-lg-3 breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('main') }}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('cart_index') }}">Shop</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Création de la commande</li>
					</ol>
				</nav>
				{{ form_start(form) }}
				<h1 class="h2 pb-2">Création de la commande</h1>
				<h3 class="fs-base fw-normal text-body text-uppercase pb-1 pb-sm-1">1.
					<span class="text-decoration-underline ms-1">Détails d'expédition</span>
				</h3>
				<p>Si vous n'avez pas d'adresse ajouter en une dans votre espace compte
					<a href="#">Ajouter une adresse</a>
				</p>
				<h3 class="fs-base fw-normal text-body text-uppercase pb-2 pb-sm-3">2.<span class="text-decoration-underline ms-1">Choisir votre livraison</span>
				</h3>
				{{ form_row(form.addresses)|replace({'[-br]' : '</br>'})|raw }}
				<h3 class="fs-base fw-normal text-body text-uppercase mt-n4 mt-md-n3 pt-5 pb-2 pb-sm-3">3.<span class="text-decoration-underline ms-1">Mode de livraison</span>
				</h3>
			</div>
			<div class="col-lg-5 offset-lg-1 pt-1">
{# 				
				<div class="d-flex align-items-center justify-content-between border-top fs-xl pt-4 mb-4">
					Total:
					<span class="fs-3 fw-semibold text-dark ms-2">{{ (plat.plat.price /100)|number_format(2,',', '.') }}
						€</span>
				</div>
				<div class="mt-5 text-center">
					<button class="btn btn-lg btn-primary" type="submit" style="border-radius: 6px; position: relative; top: 20px">Valider votre commande</button>
				</div> #}
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
