{% extends 'base.html.twig' %}

{% block title %}Liste des plats de la catégorie
	{{ categorie.libelle }}
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12 mt-3">
				<h1>Liste des plats de la catégorie
					{{ categorie.libelle }}</h1>
			</div>
			{% for plats in plat %}
				<div class="col-4">
					<div class="container my-3 d-flex justify-content-center">
						<div class="card mb-3" style="max-width: 500px;">
							<img class="card-img-top" src="{{ asset('assets/uploads/plats/') ~ plats.image }}" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">{{ plats.libelle }}</h5>
								<p class="card-text">{{ plats.description }}</p>
								<p class="card-text">
									<small class="card-text">Prix :
										{{ plats.prix }}€</small>
								</p>
								<a href="{{ path('plat_details', {id: plats.id})}}" class="btn btn-primary">Voir le plat en détail</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</section>
	</main>

{% endblock %}
