{% extends 'base.html.twig' %}

{% block title %}Liste des plats
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			{% include "partials/_adminnav.html.twig" %}
			<main class="col-9 border border-light bg-white p-2">
				<h1>Liste des plats</h1>
				<table class="table">
					<thead>
						<tr class="bg-primary text-white">
							<th>ID</th>
							<th>Nom</th>
							<th>Prix</th>
							<th>Photo</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for plat in plats %}
							<tr>
								<td>{{ plat.id }}</td>
								<td>{{ plat.libelle }}</td>
								<td>{{ plat.prix }}</td>
								<td><img class="img-thumbnail" style="max-width: 300px;" src="{{ asset('assets/uploads/plats/') ~ plat.image }}" alt="{{ plat.libelle }}"></td>
								<td>
                                <a href="{{ path('admin_plats_edit',
                                {id: plat.id})}}" class="btn btn-sm btn-primary">Modifier</a>
                                </td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</div>

{% endblock %}
