{% extends 'base.html.twig' %}

{% block title %}Détails de
	{{ plat.libelle }}
{% endblock %}

{% block body %}
<div class="container my-3">
	<div class="card mb-3" style="max-width: 900px;">
		<img src="{{ asset('assets/uploads/plats/') ~ plat.image }}" class="card-img-top" alt="">
		<div class="card-body">
			<h5 class="card-title">{{ plat.libelle }}</h5>
			<p class="card-text">{{ plat.description }}</p>
			<p class="card-text">
				<small class="text-body-secondary">Catégorie :{{ plat.categorie.libelle }}</small>
			</p>
            <p>
            Prix : {{ plat.prix }}€
            </p>
		</div>
	</div>
</div>
{% endblock %}
