{% extends 'base.html.twig' %}

{% block title %}Détails de
	{{ plat.libelle }}
{% endblock %}
{% block body %}
	<div class="container my-3 d-flex justify-content-center">
		<div class="card mb-3" style="max-width: 500px;">
			<img class="card-img-top" src="{{ asset('assets/uploads/plats/') ~ plat.image }}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{ plat.libelle }}</h5>
				<p class="card-text">{{ plat.description }}</p>
				<p class="card-text">
					<small class="card-text">Prix :
						{{ plat.prix }}€</small>
				</p>
			</div>
		</div>
	</div>
	<div class="container my-3 d-flex justify-content-center">
		<a class="btn btn-primary" href="/plat/">Retour</a>
	</div>
{% endblock %}
